.container-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.header {
  z-index: 1000;
  width:100%;
  position: fixed;
  top:0px;
  left:0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #6a5650;
  height: 4rem;
}

header {
  padding-top: 8rem;
}

.search {
  border: none;
  text-align: left;
  display: flex;
  width: auto;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin-left: 10px;
}

.search:focus{
  outline: none;
}

.searchOptions {
  display: inline-flex;
  width: auto;
  justify-content: space-around;
  white-space:nowrap;
}

.searchBar {
  align-self: center;
  justify-self: center;
  display: flex;
  width:auto;
  height: 30px;
  background-color: white;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  text-align: right;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}

.connection {
  width: 1px;
  display: flex;
  align-items: center;
  justify-items: flex-end;
  flex-direction: row;
  justify-content: end;
  justify-self: end;
}

.image {
  width: 1px;
  overflow: visible
}

.paddingh1 {
  padding: 1.6rem;
}

.buttonAlign {
  text-align: right;
}

.deleteArticle {
  color: red;
  border: none;
  box-shadow: none;
  cursor: pointer;
}

.editArticle {
  color: black;
  border: none;
  box-shadow: none;
  cursor: pointer;
}

.jumbotron {
  padding: 2rem 2rem !important;
}

.padding-div {
  padding: 1rem;
}

.form-check {
  padding-left: 2rem;
}

.height {
  max-height: 24em;
  overflow:hidden;
}