.container-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}

.header {
  z-index: 1000;
  width:100%;
  position: fixed;
  top:0px;
  left:0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #6a5650;
  height: 4rem;
}

header {
  padding-top: 8rem;
}

.search {
  border: none;
  text-align: left;
  display: flex;
  width: 50%;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin-left: 10px;
}

.searchOptions {
  display: flex;
  width: 30%;
  justify-content: space-evenly;
}

.searchBar {
  align-self: center;
  display: flex;
  width:30%;
  height: 30px;
  background-color: white;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  text-align: right;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}

.paddingh1 {
  padding: 1.6rem;
}

.buttonAlign {
  text-align: right;
}

.deleteArticle {
  color: red;
  border: none;
  box-shadow: none;
  cursor: pointer;
}