{% if app.user %}
    <a href="{{ path('mes_articles') }}" class="btn btn-secondary mr-2">mes articles</a>
    <a href="{{ path('app_logout') }}" class="btn btn-danger">déconnexion</a>
  {% else %}
    <a href="{{ path('app_login') }}" class="btn btn-primary mr-2">connexion</a>
    <a href="{{ path('app_register') }}" class="btn btn-info">inscription</a>
{% endif %}