{% if app.user %}
    <a href="/mesArticles" class="btn btn-secondary">mes articles</a>
    <a href="/logout" class="btn btn-danger">déconnexion</a>
  {% else %}
    <a href="/login" class="btn btn-primary">connexion</a>
    <a href="/register" class="btn btn-info">inscription</a>
{% endif %}