{% extends 'toutUtilisateur/accueil.html.twig' %}
{% block connexion %}
  {% if connected %}
    <img class="avatar"></img>
  {% else %}
    <div class="login">connexion</div>
    <div class="signup">inscription</div>
  {% endif %}
{% endblock %}