<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link href="{{ asset('css/main.css') }}" type="text/css" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/global.css">
    </head>
    <body>
        <header>
            <div class="header">
                <a href="/"><img src="{{ asset('assets/logo.png') }}"></a>
                <form class="searchBar" method="get" action="/" id="searchForm">
                    <input type="text" name="search" id="search" class="search" placeholder="Rechercher ici" value="{{previousSearch|default('')}}">
                    <div class="searchOptions">
                        <div>
                            <input type="checkbox" id="expandSearch" name="expandSearch">
                            <label for="expandSearch">chercher partout</label>
                        </div>
                        <label onClick='checkInputValue()' for="search">🔎</label>
                    </div>
                </form>
                <div class="connection">{% include "toutUtilisateur/connexion.html.twig" %}</div>
            </div>
        </header>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        <script>
            function checkInputValue() {
                if(document.getElementById('search').value){
                    event.preventDefault()
                    document.forms[0].submit()
                }
            }
        </script>
    </body>
</html>
