<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Projet 1 ING1
			{% endblock %}
		</title>
		{% block stylesheets %}{% endblock %}
		<link rel="stylesheet" href="" type="text/css">
		<link href="{{ asset('css/main.css') }}" type="text/css" rel="stylesheet">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link rel="stylesheet" href="/css/global.css">
	</head>
	<body>
		{% block body %}{% endblock %}
		{% block javascripts %}{% endblock %}
	</body>
</html>
